.message {
  padding: 5px;
  width: fit-content;
  margin: 0px 10px;
}

.message_user {
  margin-left: auto;
  color: #fff;
  text-align: right !important;
}

.message_userCard {
  background-color: #0b81ff !important;
  color: #e9e9eb !important;
}

.message_guestCard {
  background-color: #e9e9eb !important;
}

.app {
  text-align: center;
  padding-bottom: 100px;
}

.app_form {
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background-color: #e9e9eb;
}

.logo {
  margin-top: 20px;
}

.user {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 5px 15px;
}

.form_control {
  display: flex !important;
  flex-direction: row !important;
}

.app_iconBtn {
  flex: 0;
}

.app_input {
  flex: 1;
}
